* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rubik;
  src: url(../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #151515 !important;
  overflow-x: hidden;
}

#app {
  overflow-x: hidden;
}
