.Carousel_container .slick-dots li {
  background-color: #d9d9d9;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  opacity: 0.5;
  margin: 40px;
  border-radius: 50%;
}

.Carousel_container .slick-dots li button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.Carousel_container .slick-dots li button:hover,
.Carousel_container .slick-dots li button:active {
  opacity: 1;
}

.Carousel_container .slick-dots li button::before {
  /* display: none; */
}

.Carousel_container ul li:active,
.Carousel_container ul li:hover {
  opacity: 1;
}

.Carousel_container .slick-list .slick-track .slick-slide {
  opacity: 0.7;
  cursor: pointer;
  transition: all;
  transition-property: transform;
  transition-duration: 500ms;
}

.Carousel_container .slick-list .slick-track .slick-slide:active,
.Carousel_container .slick-list .slick-track .slick-slide:hover {
  opacity: 1;
  transform: scale(1.5);
}

@media (max-width: 850px) {
  .Carousel_container .slick-dots li button {
    opacity: 1;
  }
  .Carousel_container .slick-list .slick-track .slick-slide {
    opacity: 1;
    transition: none;
  }

  .Carousel_container .slick-list .slick-track .slick-slide:active,
  .Carousel_container .slick-list .slick-track .slick-slide:hover {
    transform: none;
  }

  .Carousel_container .slick-dots li {
    text-align: center;
    margin: 0 10px;
    width: 1rem;
    height: 0.5rem;
  }
}
