#home > div.ant-col > div > img {
  opacity: 0.3;
  height: auto;
  width: 50vw;
  box-shadow: #2e2d2d 2px 1px 3px 0px;
}

@media (max-width: 850px) {
  #home {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }

  #home > div.ant-col:first-child {
    display: none;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  #home {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 10px;
  }
}
