div.menuNav .menuNav-list li a:hover {
  color: rgb(104, 104, 248) !important;
}

@media (max-width: 850px) {
  div.menuNav .menuNav-list li a:hover {
    color: white;
  }

  .menuNav-list li {
    margin: 0 5px;
  }

  div.menuNav .menuNav-list {
    gap: 7px;
  }
}
