.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10000;
}

.list-items {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 5px 0;
  background: #eee6ed48;
}

.navbar-item a img {
  width: 40px;
  height: 40px;
}

.navbar-item a {
  font-family: Roboto;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-item a:hover {
  transform: scale(1.5);
  background-color: #eee6ed;
  border-radius: 5px;
  padding: 0 2px;
}

.navbar-item a:hover span {
  color: #00aaa9;
}

.navbar-item a {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.list-items a {
  text-decoration: none;
  color: black;
}

@media (max-width: 850px) {
  .navbar {
    width: 100vw;
  }
  .navbar-item a {
    transition: none;
  }

  .navbar-item a:hover {
    transform: none;
  }

  .navbar-item a span {
    display: none;
  }
}
