.carouselClass .slick-dots {
  bottom: 100% !important ;
}

.carouselClass .slick-dots li {
  height: 10px !important ;
  width: 5vw !important;
}

.carouselClass .slick-list .slick-track div {
  padding: 0;
}

.carouselClass .slick-list .slick-track div img {
  width: 90%;
}

.carouselClass .slick-list .slick-track div div:hover {
  cursor: pointer;
}
