.skills_container {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
}

.skills_container div:last-child {
  grid-row: 3;
  grid-column: 2 / 3;
}

.skill_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  width: 200px;
}

.skill_card img {
  filter: grayscale();
}

.skill_card img:hover {
  filter: none;
}

@media (max-width: 850px) {
  .skills_container {
    height: 100% !important;
    padding: 100px 0 0 0;
    display: flex !important;
    flex-direction: column;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .skills_container {
    padding: 200px 0 0 0;
  }
}

@media (max-width: 580px) {
  .skills_container {
    padding: 300px 0 0 0;
  }
}

@media (max-width: 580px) and (orientation: landscape) {
  .skills_container {
    padding: 550px 0 0 0;
  }
}
