.main_skills_container {
  padding: 40vh 0;
  text-align: center;
}
.skills_container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.skills_container div:last-child {
  grid-row: 3;
  grid-column: 2 / 3;
}

.skill_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  width: 200px;
}

.skill_card img {
  filter: grayscale();
}

.skill_card img:hover {
  filter: none;
}

@media (max-width: 850px) {
  .skills_container {
    display: flex;
    flex-direction: column;
  }
}
